{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>Категориялар</title>
</head>
<body>
    {% include 'auth_users/navbar.html' %}

    <div class="category-list">
        <p id="category-title">Категориялар</p>
        <div class="category-items only">
            <ul>
                <a href="{% url 'category' 'Запчасти' %}"><li>
                    <img src="{% static 'media/images/car-parts.png' %}" alt="">
                    <p>Автобөлшектер</p>
                </li></a>

                <a href="{% url 'category' 'Электроника' %}"><li>
                    <img src="{% static 'media/images/electronic.png' %}" alt="">
                    <p>Электроника</p>
                </li></a>

                <a href="{% url 'category' 'Аксессуарлар' %}"><li>
                    <img src="{% static 'media/images/accessories.png' %}" alt="">
                    <p>Аксессуарлар</p>
                </li></a>

                <a href="{% url 'category' 'Автохимия' %}"><li>
                    <img src="{% static 'media/images/chemistry.png' %}" alt="">
                    <p>Автохимия</p>
                </li></a>

                <a href="{% url 'category' 'Антикоррозия' %}"><li>
                    <img src="{% static 'media/images/krasniy.png' %}" alt="">
                    <p>Коррозияға қарсы</p>
                </li></a>
            </ul>
        </div>
    </div>

    {% include 'auth_users/footer.html' %}
</body>
</html>