{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<div class="footer">
    <a href="https://www.vk.com" target="_blank"><img src="{% static 'media/images/vk.png' %}" alt=""></a>
    <a href="https://www.instagram.com" target="_blank"><img src="{% static 'media/images/instagram.png' %}" alt=""></a>
    <a href="https://www.facebook.com" target="_blank"><img src="{% static 'media/images/facebook.png' %}" alt=""></a>
    <a href="https://www.twitter.com" target="_blank"><img src="{% static 'media/images/twitter.png' %}" alt=""></a>
</div>