{% extends 'auth_users/layout.html' %}
{% block title %}Бас Парақша{% endblock %}
{% block content %}
    <h2 id="title">Жаңа Тауарлар</h2>
    <section>
        <div class="container-4">
            {% for item in items %}
                <div class="item-container">
                    <div class="item-container-img-1">
                        <img src="{{ item.image.url }}" alt="фото">
                    </div>

                    <div class="title-price">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.price }}тг</p>
                    </div>

                    <div class="buttons">
                        <a href="{% url 'add-watchlist' item.id %}"><button type="button" id="watchlist-button" class="index-button">Таңдауларға қосу</button></a>
                        <a href="{% url 'add-cart' item.id %}"><button type="button" id="cart-button" class="index-button">Себетке қосу</button></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}