{% extends 'auth_users/layout.html' %}
{% load static %}
{% block title %}Бас Парақша{% endblock %}
{% block content %}


    {% include 'auth_users/slider.html' %}


    <h2 id="title">Жаңа Тауарлар</h2>
    <section>
        <div class="container-4">
            {% for item in items %}
                <div class="item-container">
                    <div class="item-container-img-1">
                        <img src="{{ item.image.url }}" alt="фото">
                    </div>

                    <div class="title-price">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.price }}тг</p>
                    </div>

                    <div class="buttons">
                        <form action="{% url 'add-watchlist' item.id %}" method="post">
                            <button type="submit" id="watchlist-button" class="index-button">Таңдауларға қосу</button>
                        </form>
                        <a href="{% url 'add-cart' item.id %}"><button type="button" id="cart-button" class="index-button">Себетке қосу</button></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="page-numeration">
            {% if items.has_previous %}
                <a href="?page=1">1</a>
                <a href="?page={{ items.previous_page_number }}">Артқа</a>
            {% endif %}
            {% if items.has_next %}
                <a href="?page= {{ items.next_page_number }}">Келесі</a>
            {% endif %}
        </div>
    </section>

{% endblock %}