{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>Title</title>
</head>
<body>

    {% include 'auth_users/navbar.html' %}

    <div class="register-form">
        <form action="{% url 'login' %}" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">

            <button type="submit" >Login</button>
            <a href="{% url 'register' %}">Does not have an account? Register</a>
        </form>
    </div>

    {% include 'auth_users/footer.html' %}
</body>
</html>