{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<header>
    <div class="nav-1">
        <nav>
            <ul class="first-nav">
                <li><a href="{% url 'index' %}"><img id="logo" src="{% static 'media/images/engine.png' %}" alt="logo"></a></li>
                <li><a href="{% url 'index' %}">Home Page</a></li>
                <li><a href="{% url 'show_categories' %}">Categories</a></li>
                <li><a href="{% url 'show_watchlist' %}">Watchlist</a></li>
            </ul>

            <div class="form">
                <form action="{% url 'search' %}" method="get">
                    <input type="text" name="search" placeholder="Іздеу">
                    <button type="submit"><img id="search" src="{% static 'media/images/search.png' %}" alt=""></button>
                </form>
            </div>

            <ul class="second-nav">
                <li><a href="{% url 'profile' user.id %}"><img src="{% static 'media/images/user.png' %}" alt=""></a></li>
                <li><a href="{% url 'show_cart' %}"><img src="{% static 'media/images/cart.png' %}" alt=""></a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
            </ul>
        </nav>

        <div class="main-text">
            <h1>Lorem ipsum</h1>
            <p>dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
</header>