{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>Title</title>
</head>
<body>

    {% include 'auth_users/navbar.html' %}

    <div class="profile">
        <div class="info">
            <p><span>Логин: </span> {{ user.username }}</p>
            <p><span>Аты-жөн: </span>{{ user.first_name }} {{ user.last_name }}</p>
            <p><span>Пошта: </span>{{ user.email }}</p>
            <p><span>Адрес: </span>{{ address }}</p>
            <a href="{% url 'edit-profile' %}">Өзгерту</a>
        </div>
        <form action="" method="post">
            <h2>Егер де адресті өзгерткіңіз келсе немесе адрес енгізу</h2>
            <label for="city">Қала</label>
            <input type="text" id="city" name="city">
            <label for="street">Көше</label>
            <input type="text" id="street" name="street">
            <label for="apartment">Пәтер</label>
            <input type="text" id="apartment" name="apartment">

            <button type="submit">Сақтау</button>
        </form>
    </div>

    <div class="orders">
        <ul>
            <p>Менің тапсырыстарым:</p>
            {% for order in orders %}
                <li><a href="{% url 'order' order.id %}">Тапсырыс №{{ order.id }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% include 'auth_users/footer.html' %}
</body>
</html>