{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>Title</title>
</head>
<body>

    {% include 'auth_users/navbar.html' %}

    <div class="register-form">
        <form action="{% url 'register' %}" method="post">
            <label for="firstname">Name</label>
            <input type="text" id="firstname" name="firstname">
            <label for="lastname">Lastname</label>
            <input type="text" id="lastname" name="lastname">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="email">email</label>
            <input type="email" id="email" name="email">
            <label for="password1">Password1</label>
            <input type="password" id="password1" name="password1">
            <label for="password2">Password2</label>
            <input type="password" id="password2" name="password2">

            <button type="submit" >Create</button>
            <a href="{% url 'login' %}">Already have an account? Log In</a>
        </form>
    </div>

    {% include 'auth_users/footer.html' %}
</body>
</html>