{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>Таңдаулар</title>
</head>
<body>

    {% include 'auth_users/navbar.html' %}

    <div class="category-list">
        <p id="category-title">Таңдаулар</p>
        <div class="category-items second">
            <ul>
                {% for item in items %}
                <li>
                    <img src="{{ item.image.url }}" alt="">
                    <p>{{ item.title }}</p>
                    <div class="buttons">
                        <form action="{% url 'del-watchlist' item.id %}">
                            <button id="watchlist-btn" type="submit">Таңдаудан жою</button>
                        </form>
                        <form action="{% url 'add-cart' item.id %}">
                            <button id="cart-btn" type="submit" >Себетке қосу</button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="page-numeration">
        {% if items.has_previous %}
            <a href="?page=1">1</a>
            <a href="?page={{ items.previous_page_number }}">Артқа</a>
        {% endif %}
        {% if items.has_next %}
            <a href="?page= {{ items.next_page_number }}">Келесі</a>
        {% endif %}
    </div>

    {% include 'auth_users/footer.html' %}
</body>
</html>